<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SkeletonWinforms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <SkeletonWinforms.Properties.Settings>
            <setting name="SerialStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CenterPosX" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="CenterPosZ" serializeAs="String">
                <value>2.7</value>
            </setting>
        </SkeletonWinforms.Properties.Settings>
    </userSettings>
</configuration>
